* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}


#version {
  background: rgba(255, 255, 255, 0.7);
  text-align: center;
  position: fixed;
  z-index: 1;
  bottom: 0;
  width: 100%;
  padding: 10px 15px;
  margin: 0 auto;
}