@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  margin: 0;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

#stats-button {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 1;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px 20px;
  background: #1e2c4f;
  border: none;
  border-radius: 0;
  color: 	#eee;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.3s ease;
}

#stats-button:hover { 
  background: #9d74a0;
  cursor: pointer;
}

#stats-button:focus {
  outline: none;
}